body{

    background-image:linear-gradient(to bottom, #0a192f, #091c38);
    background-repeat: no-repeat;
    background-size: cover;
   
}

:root{
    --main-text:#8892b0 ;
    --theme-color: #0a254e;
    --highlights: #50ccb4;
    --bold-text: #bec8e7;
    --main-font: 'Calibre, "San Francisco", "SF Pro Text"';
}


.nav-item{
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 20px;
    
    margin: 10px;
    font-family: var(--main-font);
  
}

p{
    font-family: var(--main-font);
    color: var(--main-text);
    font-size: 20px;
}

.nav-link{
color:var(--main-text);
font-weight: 500;
}

.nav-link:hover{

    color:var(--highlights)
}
.highlight{
    color: var(--highlights);
    letter-spacing: 0px;
    margin-right: 0px;
}

.mr{
    margin-right: 12px;
}

.navbar{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), var(--theme-color)) ;
}


.beginning{
    height: 100vh;


}

.center{
    text-align: center;
}

.projects{
    margin-top: 20rem;
}



.projectRow{
    margin-top: 2rem;
}
.gt{
    
    margin-top: 10rem;
}

.name{
    color: var(--bold-text);
    font-family: var(--main-font);
    font-size: 4rem;
}

.sideBar ul li i{
    margin-top: 40px;
}
.beginning h3{
    color: var(--main-text );
    font-size: 5rem;
    font-family: var(--main-font);
}

.beginning h5{
    color: var(--main-text );
    letter-spacing: 5px;
    font-size: 20px;
    font-family: var(--main-font);

}

.theme-btn{
    background-color: rgba(240, 248, 255, 0);
    color: var(--highlights);
    border: solid var(--highlights) 2px;
    width: 150px;
    height: 50px;
    margin-top: 15px;
}

.sideBar{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: rgb(168, 178, 209);


}

.upper{
    width: 100px;
    position: absolute;
    
    right: 40px;
    left: auto;
    z-index: 10;
    color: rgb(168, 178, 209);


}

.lower{
    width: 100px;
    position: absolute;
    bottom:0px;
    right: 40px;
    left: auto;
    z-index: 10;
    color: rgb(168, 178, 209);


}
#iconPhrase, #iconPhraseN{
    font-size: 20px;
}

.sideBar ul{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;  
}

.rightBar ul{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;  
}

.rightBar ul li{
    margin-top: 15px;
}

.fab{
    color: rgb(168, 178, 209);
}

.fab:hover{
    color:var(--highlights)
}
.about h2{
    color:var(--bold-text);
    font-family: var(--main-font);
}



.mtc{
    color:var(--bold-text);
}

.hrt{
    border-top: 2px solid var(--main-text);
    
}

.bl{
    border-left: 2px solid var(--main-text);
}

.br{
    border-right:2px solid var(--main-text); ;
}

.workExp{
    margin-top: 20rem;
}

.expSwitch{
    width: 200px;
    padding: 0px;
    margin-left: 64px;
    border-radius: 20%;
}

.edu:hover{
    color: var(--highlights);
    cursor: context-menu;
    border: solid 2px rgba(4, 4, 77, 0.39);
    background-color: rgba(137, 43, 226, 0.39);
    width:60% ;
}

.imgSwitch{
    width: 200px;
    border-radius: 100%;
    align-items: center;
    margin-left: 2rem;
}

button:hover{
    background-color: var(--highlights);
    color: white
}


.education{
    margin-top: 20rem;
     
}

.tc{
    background-color: var(--theme-color);
}

a{
    text-decoration: none;
    color: inherit;
}
.margin20{
    margin-top: 5rem;
}

.card-img{
    height:100%
}


.back-to-top{
    width: 7rem;
    height: 7rem;
    background-color: #121212;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    
  }


  .back-to-top i{
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
    animation: up 2s infinite
  }

  
  .footer-content h4{
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
  }
  
  
  .footer-content .asterisk{
    margin: 2.4rem 0
  }
  
  .footer-content-about{
    margin-bottom: 5.4rem;
  }
  
  .footer-content-about p{
    line-height: 2;
  }


  
.newletter-form{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .newletter-input{
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
  }
  
  .newletter-btn{
    background-color: transparent;
    border:none;
    color: aqua;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10.5rem;
  }

  footer{
    padding: 7.9rem 0;
    background-color: #121212;
    color: white;
    text-align: center;
    position: relative;
  
  }



.cert{
width: 30rem;
border: solid 5px var(--highlights);

}

.rowDiv{
    background-image: linear-gradient( to left, var(--highlights), var(--theme-color));
}

@media (max-width: 30em)
{
.beginning {
    height: 100vh;
}

.gt{
    margin-top: 2rem;
}

.sideBar,.rightBar{
    opacity: 0;
}

.beginning h3{
    font-size: 44px;
}

.mypic{
    width: 80vw;
    align-items: center;
}

.projectPic{
    width: 75vw;
}

.cert{
    width: 20rem;
    border: solid 5px var(--highlights);
    
    }

}