


div.container
{
    
    margin-top:25px;
}

footer
{
    color:white;
    height:60px;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    margin-top: 5px;
}
p.footer
{
margin-top:15px;
padding-top: 15px;
text-align: center;

}
p
{
    margin: 20px;
    font-family: adobe-garamond-pro, serif;

font-weight: 400;
font-size: 20px;
font-style: italic;
   
    
  
}
h1{
    height:100%;
    font-family: 'Cinzel', serif;
   
    padding:0px;
    margin:0px;
   
}

.navbar
{
    margin: 0%;
    padding:0px;
    
}


a.navbar-brand
{
background: #4aaaa5;
margin:0px;
padding:0px;
}




h2{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-align: center;
    box-shadow: 5px 5px #777;
    margin: 5px;
}



a:hover
{
    background: grey;
    

}

img
{
   box-shadow: 5px 5px #4aaaa5 ;
   border-radius: 50%;
   float: left;
  
   

}

h3{
    position: absolute;
   top:100px;
  
}