


div.container
{
    
    margin-top:25px;
}

footer
{
    color:white;
    height:60px;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    margin-top: 5px;
}
p.footer
{
margin-top:15px;
padding-top: 15px;
text-align: center;

}
p
{
    margin: 20px;
    font-family: adobe-garamond-pro, serif;

font-weight: 400;
font-size: 20px;
font-style: italic;
   
    
  
}
h1{
    
    font-family: 'Cinzel', serif;

    padding:0px;
    margin-left:10px;
 
   
}
#aboutMe{
    
    font-family: 'Cinzel', serif;

    padding:0px;
    margin-left:10px;
    background: -webkit-linear-gradient(rgb(245, 222, 21), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    text-align: center;
   
}

.navbar
{
    margin: 0%;
    padding:0px;
    background: #4aaaa5;
}


a.navbar-brand
{

margin:5px;

padding:0px;
}

.bg-dark
{
    background-image: linear-gradient(to left  , grey, black);
}


h2{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-align: center;
    box-shadow: 5px 5px #777;
    margin: 5px;
}

.nav-item
{
font-family: 'Cinzel', serif;
font-weight: 500px;

}


a:hover
{
    background: grey;
    

}

img
{
  
  
   

}

h3{
    position: absolute;
   top:100px;
  
}


.extend
{
    background-image: linear-gradient(to left, grey, black);
    padding-top: 7%;
    
}

.quote
{
    color:cornflowerblue;
    
}

.wave
{
    width: 100%;
    background-image: linear-gradient(to left, #4aaaa5, black);
    
}

.card-body{
    
    background: cornflowerblue;
}
.code{
    color: yellow
}

.btn {
    
   
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }

  .btn a {
    
   
    text-align: center;
    
  
    z-index: 1;
  }

.card:hover  .btn {

   

opacity: 1;

}


.card:hover .card-body {
background: rgba(55, 84, 93, 0.664);
transition:  0.5s ease;
}

.card:hover .card-img-top{
    transition:  2.0s ease;
    transform: scale(1.5);
}

/* .fab {
margin: 20px;
width: 100%;
float: left;
clear: both;
}
.fas {
    margin: 20px;
    width: 100%;
    float: left;
    clear: both;
    } */

/* 
.fab:hover{
    transition:  2.0s ease;
    transform: scale(1.5);
    
}

.fas:hover{
    transition:  2.0s ease;
    transform: scale(1.5);

} */

.fa-html5{
    color:orange
}

.fa-css3-alt{
    color: skyblue;
}

.fa-js-square{
    color:darkgoldenrod
}
.fa-bootstrap{
    color:purple
}

.fa-node{
    color: limegreen
}